body {
    /*background-image: url("https://wallpapertag.com/wallpaper/full/b/5/4/449750-popular-cool-nature-backgrounds-2262x1504-for-phones.jpg");*/
    background-position: center;
    background-size: auto;
    text-align: center;
    font-family: 'Indie Flower', 'Comic Sans', cursive;
    font-size: 10px;
    color-rendering: optimizeQuality;
    scroll-padding: unset;
}